*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

#Food{
      width: 40%;
}

.food{
      background-color: black;
      padding: 2vw 2vw;
      border-radius: 1rem;
}