* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
      font-family:Arial, Helvetica, sans-serif;
}

#Financial {
      display: flex;
}

/* FIRST SECTION */
.first {
      background-color: #0e1410;
      color: white;
      height: auto;
      width: 20%;
      padding: 2vw 1.5vw;
}

.logo  {
      display: flex;
      padding-bottom: 2.5vw;
      
}

.logo1 {
      border: 4px solid white;
      border-radius: 50%;
      background-color:#0e1410;
      width: 1vw;
      height: 1vw;
      position: relative;
      top: 0.5vw;
}

.logo2 {
      border: 2.5px solid white;
      width: 1vw;
      position: absolute;
      top: 1vw;
      left: -0.3vw;
}

.logo-Text {
      font-size: 1.5rem;
      padding-left: 1vw;
      font-weight: bolder;
}

.search {
      background-color:#363636;
      padding: 0.8vw 0.8vw;
}

.search i {
      padding-right: 1vw;
}

/* OVERVIEW SECTION */
.over {
      font-size: 0.5rem;
      padding-top: 2vw;
      color: #b1b0b0;
      padding-left: 0.3vw;
}

.over1{
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
      padding-left: 1vw;
}

.over12 {
      margin-top: 0.8vw;
      margin-bottom: 1.5vw;
      padding-left: 1vw;
      color: #c9c9c9;
}

.over12 i {
      padding-right: 1.2vw;
}

.over12:hover{
      background-color: #263a2d;
      padding: 0.8vw 1vw;
      color: white;
}

.over1{
      color: #c9c9c9;
}

.over1 i {
      padding-right: 1.2vw;
}

.over1:hover{
      background-color:#263a2d;
      padding: 0.8vw 1vw;
      color: white;
}

.over1 a:hover{
      color: white;
}

/* FOOTER */
.owner {
      display: flex;
      margin: 1.5vw 1vw;
}

.log-out {
      margin-top: 7vw;
      margin-bottom: 1vw;
      padding-left: 1vw;
      color: #c9c9c9;
}

.log-out i{
      padding-right: 1.2vw;
}

.log-out:hover{
      background-color:#263a2d;
      padding: 0.8vw 1vw;
}

.line {
      border: 1px solid rgb(61, 61, 61);
}

.owner img{
      border-radius: 50%;
      width: 40px;
      height: auto;
      margin-right: 0.5vw;
}

.owner h1 {
      font-size: 0.8rem;
      padding-top: 0.5vw;
}

.owner p{
      font-size: 0.55rem;
      line-height: 2.3;
}

.dot {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: green;
      margin-top: 0.5vw;
      margin-right: 0.3vw;
}

.dot1 {
      display: flex;
}

/* SECOND SECTION */
.second {
      width: 30%;
      height: auto;
      /* padding: 0 2vw; */
      position: relative;
}

.second1 {
      justify-items: center;
}

.second .img1 img{
      width: 200px;
      height: 170px;
      margin-top: 0.5vw;
      margin-left: 1vw;
}

.second .img2 img{
      width: 13em;
      height: 8em;
      position: absolute;
      top: 5.5vw;
      left: 7.7vw;
}

.second .card-list {
      width: 16em;
      margin-left: 1.3vw;
      position: absolute;
      top: 7.5vw;
      box-shadow: 0 10px 25px rgb(216, 216, 216);
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
}

.card-list .card1 {
      padding-top: 1.3vw;
      padding-bottom: 0.6vw;
      padding-left: 1vw;
      background-color: rgb(247, 247, 247);
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
}

.card-list .card2 {
      background-color: rgb(255, 249, 249);
      padding-top: 1.3vw;
      padding-left: 1vw;
      padding-bottom: 0.6vw;
      padding-right: 2vw;
      display: flex;
      justify-content: space-between;
}

.card-list .card2 .tg i {
      font-size: 1.2rem;
      color: #0e1410;
      padding-top: 0.5vw;
}

.card-list h1{
      font-size: 1rem;
}

.card-list p {
      font-size: 0.6rem;
      line-height: 2.5;
}
.card {
      margin-left: 6vw;
}

.second .spend{
      position: absolute;
      border: 1px solid rgb(219, 218, 218);
      top: 19vw;
      width: 16em;
      margin-left: 1vw;
      height: auto;
      padding: 1vw 1vw;
}

.range1 {
      width: 100%;
      margin-top: 0.8vw;
      height: 0.8vw;
      border: none;
      background-color: rgb(235, 235, 235);
}

.range2 {
      width: 10%;
      height: 100%;
      margin-bottom: 1vw;
      border: none;
      background-color: rgb(1, 34, 1);;
}

.spend .spends h1{
      font-size: 1rem;
}

.spend .spends p {
      font-size: 0.6rem;
      padding-top: 1.2vw;
}

.spend .percent {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5vw;
      font-size: 0.7rem;
}

.second .outcome {
      position: absolute;
      border: 1px solid rgb(219, 218, 218);
      top: 28.5vw;
      width: 16em;
      margin-left: 1vw;
      height: auto;
      padding: 1vw 1vw;
}

.outcome .range2 {
      width: 66%;
}

.outcome .range3 {
      width: 49%;
      height: 100%;
      margin-top: 0.8vw;
      margin-bottom: 1vw;
      border: none;
      background-color: rgb(1, 34, 1);
}

.outcome h1{
      font-size: 1rem;
}

.outcome p {
      font-size: 0.6rem;
      padding-top: 1.8vw;
}

.outcome .percent {
      display: flex;
      justify-content: space-between;
      margin-top: 0.8vw;
      font-size: 0.7rem;
}

.outcome .stat {
      display: flex;
}

.outcome .stat i {
      margin-top: 1.2vw;
      margin-right: 0.5vw;
      padding: 0.5vw 0.5vw;
      background-color: #f7f7f7;
      border-radius: 50%;
}


/* THIRD SECTION */
.third{
      width: 50%;
      height: auto;
      padding: 1vw 1vw;
}
.goals {
      display: flex;
      justify-content: space-between;
}

.goal {
      display: flex;
}

.goal i {
      padding: 0.5vw 0.5vw;
      margin-left: 1vw;
      background-color: #f7f7f7;
      border-radius: 50%;
}
.goals .input {
      border: 1px solid black;
      padding: 0.5vw 0.5vw;
}

.budget {
      display: flex;
      margin-top: 0.5vw;
}

.budget1 {
      width: 22%;
      border: none;
      background-color: #f7f7f7;
      margin-right: 4%;
      margin-bottom: 1vw;
}

.budget1 h1{
      font-size: 1rem;
}

.budget1 p{
      font-size: 0.5rem;
      margin-top: 1.5vw;
}

.budget1 h2{
      font-size: 1.2rem;
}

.budget1 .fonts {
      padding: 0.5vw 0.5vw;
}

.side i {
      padding: 1vw 1vw;
      background-color: rgb(184, 183, 182);
      border-bottom-right-radius: 100%;
      font-size: 0.8rem;
}

.budget12 {
      width: 22%;
      border: none;
      background-color: #f7f7f7;
      margin-bottom: 1vw;
}

.budget12 h1{
      font-size: 1rem;
}

.budget12 .fonts{
      padding: 0.5vw 0.5vw;
}

.budget12 p{
      font-size: 0.5rem;
      margin-top: 1.5vw;
}

.budget12 h2{
      font-size: 1.2rem;
}


.line1 {
      border: 1px solid rgb(226, 225, 225);
}

.john {
      display: flex;
      margin-top: 1vw;
      width: 50%;
}
.john img{
      border-radius: 50%;
      width: 40px;
      height: auto;
      margin-right: 1vw;
      margin-left: 1vw;
}

.john h1 {
      font-size: 0.8rem;
      padding-top: 1vw;
}

.main {
      display: flex;
      justify-content: space-between;
}

.main1{
      display: flex;
      justify-content: space-between;
      background-color: #dfdddd;
      border-radius: 0.5rem;
      padding: 0.5vw 0.5vw;
      margin-top: 0.5vw;
}

.success {
      margin-top: 1.2vw;
      display: flex;
      width: 50%;
      justify-content: space-between;
}

.success .box {
      padding: 0.5vw 2vw;
      background-color: #f7f7f7;
      border-radius: 3rem;
}

.transact{
      margin-top: 2vw;
}

.Transaction{
      margin-top: 2vw;
}

.History {
      display: flex;
      justify-content: space-between;
      box-shadow: 0 10px 25px rgb(216, 216, 216);
      border-radius: 0.5rem;
      padding: 0.5vw 0.5vw;
      margin-top: 1vw;
}

.History .p-tag p{
      line-height: 2.5;
      font-size: 0.8rem;
}

.History .p-tag div {
      line-height: 2.5;
      font-size: 0.8rem;
}

.History .p-tag h1 {
      font-size: 1rem;
}

.head h1{
      font-size: 1.3rem;
}

.p-tag i{
      padding-right: 0.5vw;
}